<header>
    <h1>Angular-switchery</h1>
    <p><a href="https://github.com/natos/angular-switchery">Github</a> | <a href="http://www.natansantolo.com">Natan Santolo</a></p>
</header>
<div class="example">
  <p><label>ngModel First <input type="checkbox" ng-model="first"></label></p>
  <pre><code>&lt;input type="checkbox" ng-switchery="{ size: 'small', color: '#ff0000', secondaryColor: '#eeeeee' }" ng-model="first" /&gt;</code></pre>
  <input type="checkbox" ng-switchery="{ size: 'small', color: '#ff0000', secondaryColor: '#eeeeee' }" ng-model="first" />
  <pre><code>&lt;input type="checkbox" ng-switchery="{ size: 'normal', color: '#ff0000', secondaryColor: '#eeeeee' }" ng-model="first" /&gt;</code></pre>
  <input type="checkbox" ng-switchery="{ size: 'normal', color: '#ff0000', secondaryColor: '#eeeeee' }" ng-model="first" />
  <pre><code>&lt;input type="checkbox" ng-switchery="{ size: 'large', color: '#ff0000', secondaryColor: '#eeeeee' }" ng-model="first" /&gt;</code></pre>
  <input type="checkbox" ng-switchery="{ size: 'large', color: '#ff0000', secondaryColor: '#eeeeee' }" ng-model="first" />
</div>
<div class="example">
  <p><label>ngModel Second <input type="checkbox" ng-model="second" ng-init="second=true"></label></p>
  <pre><code>&lt;input type="checkbox" ng-switchery="{ size: 'small', color: '#00ff00', secondaryColor: '#eeeeee' }" ng-model="second" /&gt;</code></pre>
  <input type="checkbox" ng-switchery="{ size: 'small', color: '#00ff00', secondaryColor: '#eeeeee' }" ng-model="second" />
  <pre><code>&lt;input type="checkbox" ng-switchery="{ size: 'normal', color: '#00ff00', secondaryColor: '#eeeeee' }" ng-model="second" /&gt;</code></pre>
  <input type="checkbox" ng-switchery="{ size: 'normal', color: '#00ff00', secondaryColor: '#eeeeee' }" ng-model="second" />
  <pre><code>&lt;input type="checkbox" ng-switchery="{ size: 'large', color: '#00ff00', secondaryColor: '#eeeeee' }" ng-model="second" /&gt;</code></pre>
  <input type="checkbox" ng-switchery="{ size: 'large', color: '#00ff00', secondaryColor: '#eeeeee' }" ng-model="second" />
</div>
<p><a href="http://abpetkov.github.io/switchery/">Read more to learn all the posible customizations</a></p>