<div class="example">
  <pre><code>&lt;input type="checkbox" ng-switchery="{ size: 'small', color: '#3ab1bb', secondaryColor: '#eeeeee' }" ng-model="checked" /&gt;</code></pre>
  <input type="checkbox" ng-switchery="{ size: 'small', color: '#3ab1bb', secondaryColor: '#eeeeee' }" ng-model="checked" />
</div>
<div class="example">
  <pre><code>&lt;input type="checkbox" ng-switchery="{ size: 'normal', color: '#3ab1bb', secondaryColor: '#eeeeee' }" ng-model="checked" /&gt;</code></pre>
  <input type="checkbox" ng-switchery="{ size: 'normal', color: '#3ab1bb', secondaryColor: '#eeeeee' }" ng-model="checked" />
</div>
<div class="example">
  <pre><code>&lt;input type="checkbox" ng-switchery="{ size: 'large', color: '#3ab1bb', secondaryColor: '#eeeeee' }" ng-model="checked" /&gt;</code></pre>
  <input type="checkbox" ng-switchery="{ size: 'large', color: '#3ab1bb', secondaryColor: '#eeeeee' }" ng-model="checked" />
</div>